home/.zsh-update
home/.zsh_history
home/.config/nvim/autoload/plug.vim
home/.config/nvim/autoload/plug.vim.old
home/.config/karabiner/automatic_backups
home/.vim/autoload/plug.vim
home/.vim/autoload/plug.vim.old
home/.vim/backup/*
home/.vim/swap/*
home/.vim/bundle/*
home/.vim/.netrwhist
home/.weechat/urlserver_list.txt
home/.weechat/sec.conf
home/.config/fish/fishd*
home/.maid/maid.log*
