home/.zsh-update
home/.zsh_history
home/.config/nvim/autoload/plug.vim
home/.config/nvim/autoload/plug.vim.old
home/.vim/autoload/plug.vim
home/.vim/autoload/plug.vim.old
home/.vim/backup/*
home/.vim/swap/*
home/.vim/bundle/*
home/.vim/.netrwhist
home/.emacs.d/backups/*
home/.emacs.d/auto-save-list/*
home/.emacs.d/elpa/*
home/.emacs.d/smex-items
dotdirs/.weechat/urlserver_list.txt
