tap "homebrew/bundle"
tap "homebrew/services"

brew "antidote"
brew "chezmoi"
brew "direnv"
brew "fastfetch"
brew "fzf"
brew "gh"
brew "git"
brew "gmp"
brew "gnupg"
brew "htop"
brew "httpie"
brew "hub"
brew "jq"
brew "libyaml"
brew "lua"
brew "mise"
brew "neovim"
brew "openssl@3"
brew "pandoc"
brew "postgresql@15", restart_service: true
brew "readline"
brew "reattach-to-user-namespace"
brew "redis", restart_service: true
brew "ripgrep"
brew "sqlite"
brew "starship"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "vim"
brew "watchexec"
brew "watchman"
brew "wget"
brew "youtube-dl"
brew "zsh"

{{- if eq .chezmoi.hostname "Naviss-MacBook-Pro" }}
brew "awscli"
brew "helm"
brew "kubernetes-cli"

cask "displaylink"
{{- end }}

cask "font-anonymous-pro"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-fira-mono"
cask "font-fira-mono-nerd-font"
cask "font-fira-sans"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-inconsolata"
cask "font-input"
cask "font-iosevka-nerd-font"
cask "font-jetbrains-mono"
cask "font-monaspace"
cask "font-overpass"
cask "font-overpass-nerd-font"
cask "font-source-code-pro"
cask "font-terminus"
cask "hammerspoon"
cask "karabiner-elements"
cask "kitty"
cask "logseq"
cask "obsidian"
cask "shottr"
cask "slack"
cask "visual-studio-code"
cask "zen-browser"
